:root {
    --font-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--font-color);
    
}

header h1 {
    display: inline;
    font-size: 28px;
}

header ul {
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    float: right;
}

header ul li {
    display: inline;
    margin-left: 15px;
    padding: 15px 0px 15px 0px;
    color: var(--font-color);
}

a:link {
    color: var(--font-color);
    background-color: transparent;
    text-decoration: none;
}

#banner {
    width: 100%;
    display: inline;
}

#subtitle {
    background-image: url("../images/banner.jpg");
    color: var(--font-color);
    background-color: blueviolet;
    background-size: cover;
    background-position: center;
    padding: 2% 6%;
    display: flex;
    min-height: 30vh;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

#subtitle div{
    flex: 0 0 90%;
}

#subtitle h2{
   background-color: blueviolet;
   margin: 0;
   font-size: 36px;
   padding: 5px 10px;
   display: inline;
}

.work-blocks{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-item{
border: 3px solid black;
display: flex;
align-items: flex-end;
min-height: 150px;
max-height: 150px;
flex-basis: calc(50% -1em);
}

.work-item:first-child {
    min-height: 300px;
    flex-basis: 100%;
}
